colorpicker ul, colorpicker-dinamic ul {
    padding: 0;
    margin: 0;
}

colorpicker li, colorpicker-dinamic li {
    width:20px;
    height:20px;
    box-sizing:border-box;
    display:inline-block;
}

colorpicker li.selected, colorpicker-dinamic li.selected {
    border: 3px solid #333;
}
